  :root{
    --gap: 60px;        /* space between items */
    --duration: 12s;    /* speed: lower = faster */
  }

body{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    position: fixed;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
}
nav{
    margin-top: 20px;
}
 a img{
    width: 130px;
    height: 50px;
    margin-top: 20px;
    color: aliceblue;
}
nav ul {
    display: flex;
    color: whitesmoke;
    list-style: none;
    margin-right: 3rem;
}